* {
    margin: 0;
    padding: 0;
}

/* #box1 { */
    /* background-color: red; */
    /* height: 100px; */
    /* width: 100px; */
    /* border: 2px solid black; */
    /* margin: 25px; */
    /* padding: 25px; */
    /* display: inline-block; */
/* } */

/* #box2 { */
    /* background-color: green; */
    /* height: 100px; */
    /* width: 100px; */
    /* border: 2px solid black; */
    /* margin: 25px; */
    /* padding: 25px; */
    /* visibility: hidden; */
    /* display: inline-block; */
/* } */

/* #box3 { */
    /* background-color: blue; */
    /* height: 100px; */
    /* width: 100px; */
    /* border: 2px solid black; */
    /* margin: 25px; */
    /* padding: 25px; */
    /* display: inline-block; */
/* } */
/* #box4 { */
    /* background-color: rgb(195, 35, 147); */
    /* height: 100px; */
    /* width: 100px; */
    /* border: 2px solid black; */
    /* margin: 25px; */
    /* padding: 25px; */
    /* display: none; */
/* }
*/
#box1{
    height: 100px;
    width: 100px;
    background-color: red;
    border: 2px solid black;
    display: inline-block;
    /* position: static; */
    background-image: url(cat1.avif);
    background-size: cover;
}
#box2{
    height: 100px;
    width: 100px;
    background-color: blue;
    border: 2px solid black;
    display: inline-block;
    /* position: relative; */
    /* top: 10px;     */
    /* left: 20px; */
    background-image: url(cat1.avif);
    background-size: contain;
    background-repeat: no-repeat;
}
#box3{
    height: 100px;
    width: 100px;
    background-color: green;
    border: 2px solid black;
    display: inline-block;
    /* position: absolute; */
    top: 80px;
}
#box4{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    display: inline-block;  
    /* position: fixed;     */
    top: 0px;
}
#box5{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    display: inline-block;  
    /* position: sticky; */
    top: 500px;
    
}